.layout-drawer {
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: 360px;
    min-width: 200px;
  }
  .layout-drawer.is-open {
    transform: translateX(0);
  }
  .layout-drawer * {
    flex-shrink: 0;
  }
  .layout-drawer .drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    position: relative;
  }
  .layout-drawer .drawer-header.drawer-border {
    border-bottom: 1px solid #CCCCCC;
  }
  .layout-drawer .drawer-header.drawer-header-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .layout-drawer .drawer-header .drawer-user {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .layout-drawer .drawer-header .drawer-user .drawer-avatar {
    box-sizing: border-box;
    background: #EEEEEE;
    border-radius: 50%;
    margin: 16px 0 8px 24px;
    height: 64px;
    width: 64px;
  }
  .layout-drawer .drawer-header .drawer-user .drawer-avatar img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
  }
  .layout-drawer .drawer-header .drawer-user .drawer-meta {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 56px;
  }
  .layout-drawer .drawer-header .drawer-user .drawer-meta .drawer-name,
  .layout-drawer .drawer-header .drawer-user .drawer-meta .drawer-email {
    padding-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .layout-drawer .drawer-header .drawer-user .drawer-meta .drawer-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  .layout-drawer .drawer-navigation {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
  }
  .layout-drawer .drawer-navigation.drawer-border {
    border-bottom: 1px solid #CCCCCC;
  }
  .layout-drawer .drawer-navigation .drawer-navigation {
    padding: 0;
  }
  .layout-drawer .drawer-navigation .drawer-navigation.drawer-border {
    border-bottom: none;
  }
  .layout-drawer .drawer-navigation .drawer-navigation .drawer-list-item {
    color: rgba(0, 0, 0, 0.74);
    padding-left: 48px;
    height: 36px;
  }
  .layout-drawer .drawer-navigation .drawer-navigation .drawer-list-item:focus {
    color: rgba(0, 0, 0, 0.87);
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle,
  .layout-drawer .drawer-navigation .drawer-list-item,
  .layout-drawer .drawer-navigation .drawer-subtitle {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 24px;
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle,
  .layout-drawer .drawer-navigation .drawer-list-item {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    height: 48px;
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle:focus,
  .layout-drawer .drawer-navigation .drawer-list-item:focus {
    background-color: #E0E0E0;
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle:focus .drawer-badge,
  .layout-drawer .drawer-navigation .drawer-list-item:focus .drawer-badge {
    background-color: rgba(0, 0, 0, 0.87);
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle:focus .material-icons,
  .layout-drawer .drawer-navigation .drawer-list-item:focus .material-icons {
    color: rgba(0, 0, 0, 0.87);
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle.is-active,
  .layout-drawer .drawer-navigation .drawer-list-item.is-active {
    color: #3B1A50;
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle.is-active .drawer-badge,
  .layout-drawer .drawer-navigation .drawer-list-item.is-active .drawer-badge {
    background-color: #3B1A50;
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle.is-active .material-icons,
  .layout-drawer .drawer-navigation .drawer-list-item.is-active .material-icons {
    color: inherit;
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle span,
  .layout-drawer .drawer-navigation .drawer-list-item span {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle .material-icons,
  .layout-drawer .drawer-navigation .drawer-list-item .material-icons {
    color: rgba(0, 0, 0, 0.54);
    margin-right: 24px !important;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle .drawer-badge,
  .layout-drawer .drawer-navigation .drawer-list-item .drawer-badge {
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-right: 24px;
    padding: 0 4px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    height: 24px;
    min-width: 24px;
  }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: 0;
    padding: 0 0 0 24px;
    text-align: left;
  }
  .layout-drawer .drawer-navigation .drawer-list-item {
    text-decoration: none;
  }