
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 11px;
    color: $lighterGray;
}

nav > div {
    display: flex;
    align-items: center;
}

nav > div > span {

    margin-right: 5px;
    color: #1D1E24;
}
#nav-left {
    svg {
        vertical-align: middle;
    }
}
.search.top form {
text-align: center;
position: relative;
 svg {
    position: absolute;
    top: 28px;
    left: 32px;
}
input {
    margin: 16px;
    width: 88.88%;
    border:1px solid $lighterGray;
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
}
input:focus + svg{
display: none;
}

}

::placeholder {
    text-align: center;
    font-family: IranSans;
    font-size: .86em;
    padding: 0;
}